# 先统一文本文件的检测规则
* text=auto

# Windows 批处理必须 CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Unix 脚本必须 LF
*.sh text eol=lf
*.py text eol=lf
*.java text eol=lf
*.cpp text eol=lf
*.md text eol=lf

# 二进制文件别碰
*.png binary
*.jpg binary
*.jar binary